@page "/"

<PageTitle>Home</PageTitle>


<div id="line" class="bg-primary-subtle" style="height: 10px; width: 750px;">
    
</div>
<div class="container text-center p-0" style="max-width: 750px;">
    <div class="d-flex">
        <div id="Left-Panel" style="width: 173px; flex: 0 0 173px; max-width: 173px;">
            <Profile_Icon />

            <a href="/">
                <div class="bg-primary-subtle text-black text-center" style="width: 153.8px; height: 35px; margin: auto auto 6px auto; font-size: large; font-weight: lighter; line-height: 1; padding: 2px 0px 0px 0px">
                    <p style="margin: 0; font-size: 16px; font-weight: bold;">NietTeDoen</p>
                    <p style="margin: 0; font-size: 10px;">Software Engineer</p>
                </div>
            </a>
            
            <div class="p-0" style="background-color: #2F4A73; width: 153.8px; height: 25px; margin: 0 auto">
                <p class="text-white">Content</p>
            </div>
            <a href="/">
                
                <div class="p-0 bg-warning-subtle text-black" style=" width: 153.8px; height: 25px; margin: 0 auto">
                    <p style="color: black">Weekly</p>
                </div>
            </a>
            
            <div class="p-0 text-black" style=" width: 153.8px; height: 25px; margin: 0 auto; background-color: lightgray">
                <p style="color: black">News</p>
            </div>
            <News_List/>
            <a href="https://x.com/Niettedoen0817">
                <img style="width: 153.8px; margin-top: 6px" src="Assets/Xbanner.png"/>
            </a>
        </div>
        <div id="right-panel" class="flex-grow-1">
            @for (int i = 0; i < bannerpath.Count; i++)
            {
                <img style="width: 554px; height: 200px" src="@bannerpath[i]" />
            }
        </div>
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        LoadBanners();
    }
    
    public List<string> bannerpath = new List<string>();
    public void LoadBanners()
    {
        bannerpath.Add("https://fate-go.us/images/event_8th_anniversary.png");
        bannerpath.Add("https://webview.fate-go.us/wp-content/uploads/2021/06/0625_first_hassan_pu/banner_210624_rr5j1.png");
    }

}