@page "/"

<PageTitle>Home</PageTitle>



<div class="container text-center p-0" style="max-width: 750px;">
    <div class="d-flex">
        <div id="Left-Panel" style="width: 173px; flex: 0 0 173px; max-width: 173px;">
            <Profile_Icon />
        </div>
        <div id="right-panel" class="flex-grow-1">
            @for (int i = 0; i < bannerpath.Count; i++)
            {
                <img style="width: 554px; height: 200px" src="@bannerpath[i]" />
            }
            <h1>Portfolio</h1>
            Welcome to your new app.
        </div>
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        LoadBanners();
    }
    
    public List<string> bannerpath = new List<string>();
    public void LoadBanners()
    {
        bannerpath.Add("https://fate-go.us/images/event_8th_anniversary.png");
        bannerpath.Add("https://webview.fate-go.us/wp-content/uploads/2021/06/0625_first_hassan_pu/banner_210624_rr5j1.png");
    }

}