<Profile_Icon />

<a href="/">
    <div class="bg-primary-subtle text-black text-center" style="width: 153.8px; height: 35px; margin: auto auto 6px auto; font-size: large; font-weight: lighter; line-height: 1; padding: 2px 0px 0px 0px">
        <p style="margin: 0; font-size: 16px; font-weight: bold;">NietTeDoen</p>
        <p style="margin: 0; font-size: 10px;">Software Engineer</p>
    </div>
</a>

<div class="p-0" style="background-color: #2F4A73; width: 153.8px; height: 25px; margin: 0 auto">
    <p class="text-white">Content</p>
</div>
<a href="/">

    <div class="p-0 bg-warning-subtle text-black" style=" width: 153.8px; height: 25px; margin: 0 auto">
        <p style="color: black">Weekly</p>
    </div>
</a>

<div class="p-0 text-black" style=" width: 153.8px; height: 25px; margin: 0 auto; background-color: lightgray">
    <p style="color: black">News</p>
</div>
<News_List/>
<a href="https://x.com/Niettedoen0817">
    <img style="width: 153.8px; margin-top: 6px" src="Assets/Xbanner.png"/>
</a>
@code {
    
}