<div class="p-0 border border-2 border-black" style="width: 157px; height: 157px; margin: 0 auto;">
    <img src="https://avatars.githubusercontent.com/u/69154555?v=4" style="height: 100%;"/>
</div>
@code {
    
}